@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Europa, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #151515;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.feature-title .feature-number {
  margin-left: 50px;
  margin-right: 10px;
  opacity: 0.35;
  transition: margin-left 1s ease, opacity 0.5s ease;
}

.feature-title .feature-span {
  width: 50px;
  opacity: 1;
  overflow: hidden;
  transition: opacity 0.25s ease, width 1s ease;
}

.feature-title .feature-mask {
  clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
  transition: clip-path 0.75s ease;
}

.masked-link {
  position: relative;
}

.masked-link::after {
  content: '';

  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;

  backdrop-filter: grayscale(1) brightness(1.5);
  -webkit-backdrop-filter: grayscale(1) brightness(1.5);

  transition: all 0.75s ease;
}

.masked-link:hover::after {
  width: 0;
}

@media (min-width: 769px) {
  .feature-title.active .feature-number,
  .feature-title:hover .feature-number {
    margin-left: 100px;
    opacity: 1;
  }

  .feature-title.active .feature-span,
  .feature-title:hover .feature-span {
    width: 0;
    opacity: 0;
  }

  .feature-title .feature-outline {
    opacity: 0.5;
    transition: opacity 1s linear 0.5s;
  }

  .feature-title:not(:hover) .feature-outline {
    opacity: 0.5;
    transition-delay: 0s;
  }

  .feature-title.active .feature-outline,
  .feature-title:hover .feature-outline {
    opacity: 0;
    transition-delay: 0.5s;
  }

  .feature-title.active .feature-mask,
  .feature-title:hover .feature-mask {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

@media (max-width: 768px) {
  .feature-title .feature-number {
    margin-left: 20px;
    margin-right: 0px;
  }

  .feature-title .feature-span {
    width: 20px;
  }
}